server {
    listen 80;
    server_name _;
    root {{ document_root }};
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php-fpm.sock; # Assicurati che il percorso del socket sia corretto per la tua versione di PHP
    }
}
